beautifulsoup4
bertopic
drissionpage
matplotlib
nltk
numpy
openai
pandas
parsel
requests
scikit-learn
scipy
seaborn
selenium
sentence-transformers
selectorlib
torch
tqdm
transformers
vaderSentiment
openpyxl
